/* 즐겨찾기 컨테이너 */
.favorite-friend-container {
  width: 320px;
  background-color: white;
  border-right: 1px solid #edf2f7;
  border-left: 1px solid #edf2f7;
}

/* ***************************************************************** */
/* 즐겨찾기 텍스트 & 친구 수 */
.favorite-friend-container .favorite-text-count-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 16px;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.favorite-friend-container .favorite-text-count-wrapper .favorite-text {
  font-size: 16px;
  font-weight: 600;
}

.favorite-friend-container .favorite-text-count-wrapper .favorite-count {
  border-radius: 50%;
  background-color: #edf2f7;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
}

/* ***************************************************************** */
